{#
This file is part of EC-CUBE
Copyright (c) 2006 PAYGENT Co.,Ltd. All rights reserved.
https://www.paygent.co.jp/
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}
{% form_theme form 'Form/form_div_layout.twig' %}
{% block main %}
    <div id="main_middle">
        <div class="ec-role">
            <div class="ec-rectHeading">
                <h2>ペイジェント コンビニ(番号方式)</h2>
            </div>
            {% if error is not empty %}
                <div>
                    <p style="color:red">{{ error | raw | nl2br }}</p>
                </div>
            {% endif %}
            {{ form_start(form) }}
                {{ form_widget(form._token) }}
                <div class="ec-borderedDefs" style="margin-top:16px">
                    <dl>
                        <dt>
                            <label class="ec-label">コンビニ選択</label>
                        </dt>
                        <dd>
                            <div class="ec-select">
                                {{ form_widget(form.cvs_company_id) }}
                                <span style="color:red"> {{ form_errors(form.cvs_company_id) }} </span>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div style="margin-top:10px">
                    ご選択いただきましたコンビニエンスストアでのお支払が可能です（各支払い方法は下記一覧をご確認ください）。
                    なお、商品をお支払い後の提供となります。
                    <hr style="background:#D3D3D3; border:0; height:2px">
                    下記「次へ」ボタンをクリックしてください。<br>
                    ※お名前(カナ)に濁点(゛)や半濁点(゜)が含まれる場合は除外されます。<br>
                    <span style="color:red"> ※画面が切り替るまで少々時間がかかる場合がございますが、そのままお待ちください。 </span>
                    <hr style="background:#D3D3D3; border:0; height:1px">
                </div>
                <div class="row no-padding" style="margin-bottom:50px">
                    <div class="col-sm-offset-2 col-sm-4">
                        <a href="{{ url('paygent_payment/payment_conveni_back') }}" class="ec-blockBtn--cancel" id="paygentPaymentBack">
                            戻る
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="ec-blockBtn--action">
                            次へ
                        </button>
                    </div>
                </div>
                <div class="ec-borderedDefs">
                    <dl style="padding:15px 0">
                        <dt style="line-height:1.5;padding-top:0;">
                            セブン-イレブン
                        </dt>
                        <dd style="line-height:1.5">
                            セブン-イレブンのレジ店頭にてお支払いが可能です。
                        </dd>
                    </dl>
                    <dl style="padding:15px 0">
                        <dt style="line-height:1.5;padding-top:0;">ファミリーマート</dt>
                        <dd style="line-height:1.5">
                            ファミリーマート店内に設置されている「Famiポート」で支払い番号を入力し、発券される申込券でレジにてお支払いが可能です。
                        </dd>
                    </dl>
                    <dl style="padding:15px 0">
                        <dt style="line-height:1.5;padding-top:0;">ローソン、ミニストップ</dt>
                        <dd style="line-height:1.5">
                            ローソン、ミニストップ店内に設置されている「Loppi」で支払い番号を入力し、発券される申込券でレジにてお支払いが可能です。
                        </dd>
                    </dl>
                    <dl style="padding:15px 0">
                        <dt style="line-height:1.5;padding-top:0;">デイリーヤマザキ</dt>
                        <dd style="line-height:1.5">
                            デイリーヤマザキのレジ店頭にてお支払いが可能です。
                        </dd>
                    </dl>
                    <dl style="padding:15px 0">
                        <dt style="line-height:1.5;padding-top:0;">セイコーマート</dt>
                        <dd style="line-height:1.5">
                            セイコーマート店内に設置されている「クラブステーション」で支払い番号を入力し、発券される申込券でレジにてお支払いが可能です。
                        </dd>
                    </dl>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}