<section id="infomation" class="block">
	<div class="container">
		<div class="row">
			<h3 class="text-center mgb30">Information</h3>
			<div class="col-sm-offset-1 col-sm-10 col-xs-12">
				<nav id="site-info">
					<div class="menu-footer_nav-container">
						<ul id="menu-footer_nav" class="footer-menu cf">
						    <li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123">
								<a href="{{ url('homepage') }}user_data/payment">{{ '支払い方法'|trans }}</a>
							</li>
							<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123">
								<a href="{{ url('homepage') }}user_data/question">{{ 'よくあるご質問'|trans }}</a>
							</li>
							<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123">
								<a href="{{ url('contact') }}">{{ 'お問い合わせ'|trans }}</a>
							</li>
							<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123">
								<a href="{{ url('help_privacy') }}">{{ '個人情報保護方針'|trans }}</a>
							</li>
							<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123">
								<a href="{{ url('homepage') }}user_data/caution">{{ '注意事項'|trans }}</a>
							</li>
							<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123">
								<a href="{{ url('help_tradelaw') }}">{{ '特定商取引法表示'|trans }}</a>
							</li>
						</ul>
					</div>					
				</nav>
			</div>
		</div>
	</div>
</section>