{#
Copyright (c) 2018 VeriTrans Inc., a Digital Garage company. All rights reserved.
http://www.veritrans.co.jp/
#}
{% extends '@admin/default_frame.twig' %}
{% set menus = ['customer', 'vt4g_customer_subsc_history'] %}
{% block title %}継続課金会員管理（商品・履歴）{% endblock %}
{% block sub_title %}会員管理{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}{% endblock stylesheet %}
{% block javascript %}
    {{ include('VeriTrans4G/Resource/template/default/css/vt4g_css.twig') }}
    <script src="{{ asset('assets/js/vendor/spin.min.js', 'admin') }}"></script>
{% endblock javascript %}

{% block main %}
<form name="form1" id="form1" method="POST" action="">
    {{ form_widget(form._token) }}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-inline-block"><span class="card-title">商品情報</span></div>
                            </div>
                            <div class="col-4 text-right"><a data-toggle="collapse" href="#paymentRequest" aria-expanded="false" aria-controls="paymentRequest"><i class="fa fa-angle-up fa-lg"></i></a></div>
                        </div>
                    </div>
                    <div class="collapse show ec-cardCollapse" id="paymentRequest">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="row mb-3">
                                        <div class="col-3">会員</div>
                                        {% if payment_request %}
                                            <div class="col">
                                                <a target="_blank" href="{{ url('admin_customer_edit', { id : payment_request[0].customer_id }) }}">{{ payment_request[0].customer_id }}<br>{{ payment_request[0].customer_name }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-3">商品名</div>
                                        {% if payment_request %}
                                            <div class="col">{{ payment_request[0].product_name }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-3">初回注文ID</div>
                                        {% if payment_request %}
                                            <div class="col">
                                                <a target="_blank" href="{{ url('admin_order_edit', { id : payment_request[0].first_order_id }) }}">{{ payment_request[0].first_order_id }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-3">出荷ID</div>
                                        {% if payment_request %}
                                            <div class="col">{{ payment_request[0].shipping_id }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-3">継続課金ステータス</div>
                                        <div class="col">
                                        {% if payment_request %}
                                            {{ payment_request[0].subsc_status==1 ? '継続' : '解約' }}
                                            {% set change_status = payment_request[0].subsc_status==1 ? '2' : '1' %}
                                            <a class="btn btn-ec-actionIcon mr-2 action-visible" href="{{ url('vt4g_admin_subsc_customer_edit_status', {'customer_id': payment_request[0].customer_id, 'product_id': payment_request[0].product_id, 'product_class_id': payment_request[0].product_class_id, 'shipping_id': payment_request[0].shipping_id, 'order_id': payment_request[0].first_order_id, 'status': change_status }) }}"
                                               data-tooltip="true" data-placement="top" title="{{ payment_request[0].subsc_status==1 ? '解約にする' : '継続にする' }}"
                                               data-confirm="false" data-method="put" {{ csrf_token_for_anchor() }} >
                                                <i class="fa fa-toggle-{{ payment_request[0].subsc_status==1 ? 'on' : 'off' }} fa-lg text-secondary" aria-hidden="true"></i>
                                            </a>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .card.rounded -->

                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-inline-block"><span class="card-title">決済履歴情報</span></div>
                            </div>
                            <div class="col-4 text-right"><a data-toggle="collapse" href="#paymentRequestItem" aria-expanded="false" aria-controls="paymentRequestItem"><i class="fa fa-angle-up fa-lg"></i></a></div>
                        </div>
                    </div>
                    <div class="collapse show ec-cardCollapse" id="paymentRequestItem">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="border-top-0 pt-2 pb-3 pl-3 text-nowrap">イベント名</th>
                                    <th class="border-top-0 pt-2 pb-3">決済依頼番号</th>
                                    <th class="border-top-0 pt-2 pb-3">決済取引ID</th>
                                    <th class="border-top-0 pt-2 pb-3">決済依頼ステータス</th>
                                    <th class="border-top-0 pt-2 pb-3">決済金額</th>
                                    <th class="border-top-0 pt-2 pb-3">決済日</th>
                                </tr>
                                </thead>
                                <tbody>
{% for pr in payment_request %}
                                    <tr>
                                        <td class="align-middle pl-3">{{ pr.event_name }}</td>
                                        <td class="align-middle pl-3">{{ pr.id }}</td>
                                        <td class="align-middle pl-3">{{ pr.transaction_id }}</td>
                                        <td class="align-middle pl-3">{{ request_status_list[pr.request_status] }}</td>
                                        <td class="align-middle pl-3">{{ pr.order_total+pr.delivery_fee_total }}</td>
                                        <td class="align-middle pl-3">{{ pr.reflect_date }}</td>
                                    </tr>
{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- .card.rounded -->
            </div>
        </div>
    </div>
    <!-- コンバージョンエリア -->
    <div class="c-conversionArea">
        <div class="c-conversionArea__container">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <div class="c-conversionArea__leftBlockItem">
                        <a class="c-baseLink"
                           href="{{ url('vt4g_admin_subsc_customer_page', { page_no : app.session.get('eccube.admin.subsc.customer.search.page_no')|default('1') } ) }}?resume=1">
                        <i class="fa fa-backward" aria-hidden="true"></i>
                        <span>継続課金会員一覧画面</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
